{% extends 'main/sample.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <a href="https://www.instagram.com/adilbeisembayev/"><li><i class="fa-brands fa-square-instagram"></i> Мы в Instagram</li></a>
        <a href="https://www.facebook.com/people/%D0%90%D0%B4%D0%B8%D0%BB%D1%8C-%D0%91%D0%B5%D0%B9%D1%81%D0%B5%D0%BC%D0%B1%D0%B0%D0%B5%D0%B2/pfbid0eUpxri67mkNAVKQ67UMKCMoWaDpxaUXxjmX6nYtyofFDr7BNrk7cUDCiHWCg44Rml/"><li><i class="fa-brands fa-facebook"></i> Мы в Facebook</li></a>
        <a href="https://web.telegram.org/k/#5572159009"><li><i class="fa-brands fa-telegram"></i> Мы в Telegram</li></a>
    </div>
{% endblock %}
<li><i class="fa-solid fa-phone"></i>